html {
    height: 100vh;
}

.placement-popup h3, .placement-popup label {
    color: #334155;
}

.custom-input {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    color: #334155;
}

.custom-select {
    height: 2.063rem;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    color: #334155;
}

.custom-button {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #334155;
}

.custom-button:hover, .details-rename:hover {
    background-color: #ececec;
    cursor: pointer;
}

.details-delete:hover {
    background-color: #d9534f;
    color: white;
    cursor: pointer;
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.controls-div button, .edit-controls button {
    box-sizing: border-box; 
    padding: 5px; 
    border: 2px solid rgba(0,0,0,0.2); 
    border-radius: 0;
    cursor: pointer;
}

.controls-div button:hover, .edit-controls button:hover {
    background-color: #e5e5e5;
}

.controls-div div:first-child button, .edit-controls div:first-child button{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.controls-div div:not(:first-child):not(:last-child) button, .edit-controls div:not(:first-child):not(:last-child) button{
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.controls-div div:last-child button, .edit-controls div:last-child button {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.placement-popup, .details-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    z-index: 20;
    background-color: white;
    padding: 1rem;
}

.details-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    z-index: 20;
    background-color: white;
    padding: 1rem;
}

.placement-content, .details-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-content {
    width: 25.199rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mb-0 {
    margin-bottom: 0px;
}

.font-bold {
    font-weight: bold;
}

.font-bold {
    font-weight: 800;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.gap-1 {
    gap: 1rem;
}

.gap-half {
    gap: 0.5rem;
}

.input-div-width {
    width: 12.1rem;
}

.content-right {
    justify-content: right;
}

.container {
    position: relative;
    width: 100%;
    top: 35px;     
}

#map {
    width: 100%;
    height: calc(100vh - 1rem);
    position: relative;
    z-index: 1;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}

#canvas-container2 {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 3;
}


#tooltip-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
}

.popup-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(77, 77, 77, 0.5);
    z-index: 19;
}

.alerts-div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.high-alert {
    background-color: #d9534f;
    width: 25%;
    height: 7rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.medium-alert {
    background-color: #f0ad4e;
    width: 25%;
    height: 7rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.low-alert {
    background-color: #5cb85c;
    width: 25%;
    height: 7rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.info-alert {
    background-color: #5bc0de;
    width: 25%;
    height: 7rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.alert-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    margin-top: 0px;
}

.fixed-pop-up {
    position: fixed;
    right: 0.313rem;
    top: 0.313rem;
    border: 1px #fd7d7d solid;
    border-radius: 10px;
    width: 20rem;
    background-color: #fcd0d0;
    transform: translateY(-150%); /* Posiziona inizialmente il pop-up fuori dalla vista */
    opacity: 0; /* Inizialmente invisibile */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transizione per lo scorrimento e l'opacità */
    z-index: 19;
}

.popup-content {
    padding: 1rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.pop-up-text {
    font-weight: lighter;
    margin: 0px
}

.pop-up-visible {
    transform: translateY(0); /* Scorre verso il basso nella sua posizione */
    opacity: 1; /* Rende visibile l'elemento */
}

/* Nascosto */
.pop-up-hidden {
    transform: translateY(-150%); /* Scorre verso l'alto, fuori dalla vista */
    opacity: 0; /* Nasconde l'elemento */
}

.mt-08{
    margin-top:0.8rem;
}


.mt-11{
    margin-top:1.1rem;
}


.mr-02{
    margin-right:0.1rem;
}

.details-button {
    padding: 5px 10px;
    background: transparent;
    border-radius: 5px;
    color: #334155;
}

.details-rename {
    border: 1px solid #c7c7c7;
    color: #334155;
}

.details-delete {
    border: 1px solid #d9534f;
    color: #d9534f;
}

.reset-button {
    position: absolute;
    top: 80px;
    left: 26px;
    z-index: 1000;
    padding: 2.5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.reset-button:hover {
    background-color: #0056b3;
}

#reset-view svg {
    width: 24px;
    height: 24px;
    fill: black; /* Modifica il colore dell'icona */
    color: white;
}


.save-button {
    position: absolute;
    top: 120px;
    left: 26px;
    z-index: 1000;
    padding: 2.5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.save-button:hover {
    background-color: #0056b3;
}

#save-view svg {
    width: 24px;
    height: 24px;
    fill: white; /* Modifica il colore dell'icona */
    color: white;
}

.back-button {
    position: absolute;
    top: 160px;
    left: 26px;
    z-index: 1000;
    padding: 2.5px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.back-button:hover {
    background-color: #0056b3;
}

#back-view svg {
    width: 24px;
    height: 24px;
    fill: white; /* Modifica il colore dell'icona */
    color: white;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: none;
    width: 300px;
    height: 100px;
}

.modal.show {
    display: block;
}

.modal.hidden {
    display: none;
}

#initDiv {
    display: flex;              /* Usa flexbox per il layout */
    justify-content: center;    /* Centra orizzontalmente */
    align-items: center;        /* Centra verticalmente */
    height: 100vh;              /* Imposta l'altezza del contenitore per coprire l'intera finestra */
    background-color: #f0f0f0; /* Colore di sfondo (opzionale) */
}

#instructions-div {
    text-align: center;         /* Allinea il testo al centro */
    padding: 20px;              /* Aggiungi un po' di spazio interno */
    background-color: grey;    /* Colore di sfondo per il div delle istruzioni */
    border-radius: 8px;         /* Bordo arrotondato (opzionale) */
    color: white;
}

#instruction-text {
    font-size: 20px;            /* Imposta la dimensione del testo */
    font-weight: bold;          /* Imposta il testo in grassetto */
}

#initButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Copre tutta la finestra */
    background-color: grey; /* Sfondo scuro semi-trasparente */
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}